body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.opacity-container {
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 2;
    min-height: 1600px;
    height: auto;
}

h1 {
    text-align: center;
    margin: 70px 0 !important;
    color: #fff !important;
}

.container {
    width: 1070px;
    padding: 0 auto;
}

.pattern {
    position: fixed;
    z-index: -99;
    background-size: auto;
    filter: blur(0px);
}

#login-menu {
    background-color: rgba(120, 120, 120, 0.7);
}

.pattern img {
    width: 100%;
    height: auto;
}

header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    color: aliceblue;
    font-size: 22px;
}

label {
    display: block;
    width: 100%;
    margin: 0 auto;
}

textarea,
input {
    resize: none;
    width: 80%;
    padding: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white !important;
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    font-size: 22px !important;
}

.icon svg {
    height: 25px;
    width: 25px;
}

table {
    border: 2px solid black;
    width: 100%;
}

a {
    text-decoration: none !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

a:link {
    color: #fff;
}

a:hover, .login-button:hover, .new-applicant-wrapper:hover, input[type="submit"]:hover {
    color: #dddd58 !important;
}

a:visited, .login-button:visited, .new-applicant-wrapper:visited {
    color: #fff;
}

a:active, .login-button:active, .new-applicant-wrapper:active {
    color: #dddd58;
}

a:focus {
    color: #dddd58 !important;
}

tr,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
    padding: 5px 10px;
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.55);
}

th {
    font-weight: bold;
}

.button {
    text-align: center;
    padding-top: 13px;
}

.inside {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-radius: 4px;
}

.inside:hover {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.8);
}

.inside a {
    color: white;
    display: block;
    height: 100%;
    padding: 15px 0;
}

.inside a:hover {
    color: white;
}

.submit-wrapper {
    padding-top: 20px;
}

input[type="submit"],
input[type="email"],
input[type="text"],
input[type="password"] {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    height: 40px;
    padding-left: auto;
    margin: 10px 0;
}

select {
    background-color: rgba(0, 0, 0, 0.7);
    color: white !important;
    border: 1px solid black;
    height: 40px;
    border-radius: 4px;
}

.admin-notification {
    margin-top: 30px;
    margin-bottom: 100px;
}

.log-in-status {
    text-align: right;
    padding-top: 29px;
}

.log-in-wrapper {
    width: 1070px;
    margin: 0 auto;
    text-align: center;
}

.log-in-button {
    padding-top: 24px;
}

.button-wrapper {
    padding: 0 10px;
    font-size: 22px;
}

.logo-wrapper {
    padding: 10px;
}

.header-wrapper {
    padding: 11px auto 0 auto;
    width: 1070px;
    margin: 0 auto;
}

.register-wrapper {
    width: 400px;
    margin: 30px auto;
    text-align: center;
}

.text-color-wrapper {
    color: #fff;
}

.new-applicant-wrapper {
    text-align: center;
    margin: 30vh;
    padding: 50px;
    border-radius: 16px;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.7);
}