{% extends "layout.html" %}
{% block title %}About Us{% endblock %}
{% block content %}

<div class="about-us-wrapper">
    <h1>About Us</h1>
    <div class="row">
        <div class="lorem-ipsum-wrapper col-lg-6">
            <p>
                Lorem ipsizzle dolizzle go to hizzle amizzle, dope gizzle elizzle. Pizzle sapien velizzle, funky fresh
                volutpat, ghetto pimpin', gravida check out this, arcu. Pellentesque cool dizzle. Sizzle go to hizzle.
                Dawg izzle dolor dapibizzle turpizzle tempus tempizzle. Maurizzle pellentesque hizzle izzle fo shizzle
                mah nizzle fo rizzle, mah home g-dizzle. Bow wow wow in break it down. Pellentesque eleifend fizzle
                nisi. In hac crackalackin hizzle dictumst. You son of a bizzle dapibizzle. Fo shizzle shut the shizzle
                up urna, pretizzle eu, mattizzle ac, dope i'm in the shizzle, nunc. Break yo neck, yall suscipit.
                Integer semper velit sizzle purus.
            </p>
            <p>
                Etizzle a magna sizzle augue hendrerit accumsizzle. Pot nizzle brizzle. Vivamizzle fo dolizzle, check
                out this mofo, facilisis id, mah nizzle shizznit, erat. Break yo neck, yall ante ipsizzle brizzle izzle
                crazy go to hizzle luctizzle crunk shizznit posuere cubilia Curae; Donec uhuh ... yih!. Integer gizzle.
                Maecenas pharetra da bomb da bomb. My shizz rizzle the bizzle orci. Sed facilisizzle. Shizzle my nizzle
                crocodizzle sizzle nulla, venenatizzle eu, scelerisque mammasay mammasa mamma oo sa, blandit ac,
                crackalackin.
            </p>


            <div class="contact-info">
                <p>
                <div class="address">
                    1065 Budapest, Nagymező utca 44.<br>
                    Phone: +36 1 588-8588
                </div>
                </p>
            </div>
        </div>

        <div class="map-wrapper col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1654.3178847672257!2d19.055904812561277!3d47.50510105051976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc6ce5ea866d%3A0x1e1303babc750580!2sCodecool+Budapest!5e0!3m2!1shu!2shu!4v1487954594282"
                    width="530" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <h1>The Masters</h1>

    <div class="devteam-wrapper">
        <div class="row">
            <div class="profile-photo col-lg-3">
                <div class="photo-wrapper">
                    <img src="../static/img/denes.png" alt="profile-photo">
                </div>
                <div class="names">
                    Dénes Száraz
                </div>
            </div>
            <div class="profile-photo col-lg-3">
                <div class="photo-wrapper">
                    <img src="../static/img/eszti.jpg" alt="profile-photo">
                </div>
                <div class="names">
                    Eszter Lukács
                </div>
            </div>
            <div class="profile-photo col-lg-3">
                <div class="photo-wrapper">
                    <img src="../static/img/petya.jpg" alt="profile-photo">
                </div>
                <div class="names">
                    Péter Szarka
                </div>
            </div>
            <div class="profile-photo col-lg-3">
                <div class="photo-wrapper">
                    <img src="../static/img/tomi.jpg" alt="profile-photo">
                </div>
                <div class="names">
                    Tamás Varga
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


{% endblock %}

<!--
duma
cím
google map
négy blokk egymás mellett kép + alatta név
facebook link
-->