 {% extends "layout.html" %} {% block title %}All Applicants{% endblock %} {% block content %}



<!--
    <div class="clearfix"></div>
    <div style="clear:both;"></div>
    
-->

<div class="button-wrapper menu-button-placer">
    <div class="row admin-buttons">
        <div class="button col-lg-4">
            <div class="inside"><a href="{{ url_for('new_applicant_form') }}">Add New Applicant</a></div>
        </div>

        <div class="button col-lg-4">
            <div class="inside"><a href="{{ url_for('listing_all_applicants') }}">Applicants</a></div>
        </div>

        <div class="button col-lg-4">
            <div class="inside"><a href="{{ url_for('listing_all_interviews') }}">Interviews</a></div>
        </div>
       </div>
    <div class="row admin-buttons">
        <div class="button col-lg-2"></div>

        <div class="button col-lg-4">
            <div class="inside"><a href="{{ url_for('listing_all_emails') }}">E-mails</a></div>
        </div>

        <div class="button col-lg-4">
            <div class="inside"><a href="{{ url_for('listing_all_mentors') }}">Mentors</a></div>
        </div>
        <div class="button col-lg-2"></div>
</div>
</div>

{% endblock %}