{% extends "layout.html" %}
{% block title %}Log In{% endblock %}


{% block content %}

<form action="{{ url_for('add_user_story') }}" method="post">

    <label for="user-name">User Name</label>

    <textarea name="user-name" rows="2" cols="100"></textarea>

    <label for="password">Story title</label>

    <textarea name="password" rows="2" cols="100"></textarea>

    <label for="role">Status</label>
    <select name="role">
        <option value="administrator">Administrator</option>
        <option value="applicant">Applicant</option>
        <option value="mentor">Mentor</option>
    </select>
    <input type="submit">

</form>


{% endblock %}