{% extends "layout.html" %} {% block title %}All Mentors{% endblock %} {% block content %}

<h1>All Mentors</h1>

<p>
    <table cellspacing="0" cellpadding="0">
        <tr>
            {% for tag in header %}
            <th>{{ tag }}</th>
            {% endfor %}
        </tr>
        {% for person in content %}
        <tr>{% for personal_data in person %}
            <td>{{ personal_data }}</td>
            {% endfor %}
        </tr>
        {% else %}
        <strong>There is no data in the database with the given filter!</strong> {% endfor %}
    </table>
</p>
{% endblock %}