{% extends "layout.html" %} {% block title %}All Interviews{% endblock %} {% block content %}
<h1>All Interviews</h1>
    <p>
        <form>
            <input type="button" value="Back to the menu" onclick="location.href = '/';">
        </form>
    </p>
<p>
    <h2>Filter by</h2>
</p>
<p>
    <form action="{{ url_for('filter_interviews') }}" method="post">
        <label for="filter">Filter</label>
    <textarea id="filter" name="filter" rows=1 cols=80 maxlength="70"></textarea>
</p>
<p>
    <label for="filter_by">Filter by</label>
    <select id="filter_by" name="filter_by">
                <option value="School" name="School" id="School">School</option>
                <option value="Applicant code" name="Applicant code" id="Applicant code">Applicant code</option>
                <option value="Mentor" name="Mentor" id="Mentor">Mentor</option>
                <option value="Date" name="Date" id="Date">Date</option>
                <option value="other">Other</option>
        </select>
</p>
<input type=submit id=filter_button value="Filter it!">
</form>
<p>
    <table cellspacing="0" cellpadding="0">
        <tr>
           {% for tag in header %}
           <th>{{ tag }}</th>
           {% endfor %}
       </tr>
       {% for person in content %}
       <tr>{% for personal_data in person %}
           <td>{{ personal_data }}</td>
           {% endfor %}
       </tr>
       {% endfor %}
    </table>
</p>
{% endblock %}