{% extends "layout.html" %} {% block title %}Answer{% endblock %} {% block content %}
<h1>Answer question</h1>
<div class="register-wrapper">
    <form action="{{ url_for('question_answering_process') }}" method=post>
        <label for="question">Question ID</label>
        <textarea readonly id="question_id" name="question_id">{{ question.id }}</textarea>
        <label for="question">Question</label>
        <textarea readonly id="question" name="question">{{ question.question }}</textarea>
        <label for="question">Your answer</label>
        <textarea id="answer" name="answer" required="required"></textarea>
        <div class="submit-wrapper">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <input type=submit id=filter_button value="Filter it!">
            </div>
            <div class="col-lg-4"></div>
        </div>
    </form>
</div>
{% endblock %}