{% extends "layout.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

{% if 'admin' in session %}
<p>ADMIN ON THE BRIDGE!!4!!négy!!</p>
{% endif %}

<h1>All Emails</h1>
<div>
    <form>
        <input type="button" value="Back to the menu" onclick="location.href = '/';">
    </form>
</div>
<table border="1">
    <tr>
        {% for tag in header %}
        <th>{{ tag }}</th>
        {% endfor %}
    </tr>
    {% for row in content %}
    <tr>
        <td>{{ row.subject }}</td>
        <td>{{ row.message }}</td>
        <td>{{ row.type }}</td>
        <td>{{ row.submissiondate }}</td>
        <td>{{ row.recipient_name }}</td>
        <td>{{ row.recipient_email }}</td>
        {% endfor %}
</table>

{% endblock %}