{% extends "layout.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

{% if 'admin' in session %}
<p>{{ message }}</p>
<form>

    <input type="button" value="LOGOUT," onclick="location.href = '/logout';">

</form>
{% endif %}

<form action="/login" method="post">

    <label for="user-name">User Name</label>

    <textarea name="user-name" rows="2" cols="100"></textarea>

    <label for="password">Password</label>

    <textarea name="password" rows="2" cols="100"></textarea>

    <label for="role">Status</label>
    <select name="role">
        <option value="administrator">Administrator</option>
        <option value="applicant">Applicant</option>
        <option value="mentor">Mentor</option>
    </select>
    <input type="submit">

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}


</form>


<form>

    <input type="button" value="NEW APPLICANT REGISTRATION" onclick="location.href = '/applicant_registration';">

</form>

    {% if 'admin' in session %}
    <form>

        <input type="button" value="ADMINISTRATOR MENU" onclick="location.href = '/admin_menu';">

    </form>
    {% endif %}
{% endblock %}