{% extends "layout.html" %}
{% block title %}Log In{% endblock %}
{% block content %}

    <form action="/login" method="post">

        <div>
        <label for="user-name">User Name</label>
        </div>

        <div>
        <textarea name="user-name" id="user-name" rows="2" cols="100"></textarea>
        </div>

        <div>
        <label for="password">Password</label>
        </div>

        <div>
        <textarea name="password" id="password" cols="100"></textarea>
        </div>

        <div>
        <label for="role">Status</label>
        </div>

        <div>
        <select name="role" id="role">
            <option value="administrator">Administrator</option>
            <option value="applicant">Applicant</option>
            <option value="mentor">Mentor</option>
        </select>
        </div>

        <div>
        <input type="submit">
        </div>

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}


    </form>


    <div>
        <a class="button" href="{{ url_for('new_applicant_form') }}">Add New Applicant</a>
    </div>



{% endblock %}