<!doctype html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="School System.">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/queries.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>


<body id="page_top">

    <div class="background-pic"></div>

    <header>
        <div class="menu-wrap hidden-lg">
            <nav class="menu">
                <div class="icon-list">
                    <a href="{{url_for('home_menu')}}"><i class="home"></i><span>Home</span></a>
                    <a href="{{url_for( 'about_us')}}"><i class="info"></i><span>About Us</span></a>
                    <a href="{{ url_for('new_applicant_form') }}"><i class="user-o"></i><span>Registration</span></a>


                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>
        <div class="header-inside-wrapper">


            <div class="desktop-header hidden-md hidden-sm hidden-xs">
                <div class="header-wrapper container-fluid">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="logo-wrapper">
                                <a href="{{url_for('home_menu')}}">
                                    <div class="logo-img"></div>
                                </a>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            {% if error %}
                            <div>{{ error }}</div>
                            {% endif %}
                        </div>


                        <div class="about-us-positioner col-lg-2">
                            <a href="{{ url_for('about_us') }}">About Us</a>
                        </div>


                        {% if "admin" in session %}


                        <div class="log-in-status col-lg-2">
                            <a href="{{url_for('logout')  }}">Log Out</a>
                        </div>


                        {% elif "mentor" in session %}


                        <div class="log-in-status col-lg-2">
                            <a href="{{url_for('logout')  }}">Log Out</a>
                        </div>


                        {% elif "applicant" in session %}


                        <div class="log-in-status col-lg-2">
                            <a href="{{url_for('logout')  }}">Log Out</a>
                        </div>

                        {% else %}
                        <div class="log-in-status col-lg-2 trigger-button">
                            <div class="login-button">Log In</div>

                        </div>
                        {% endif %}


                    </div>

                </div>
            </div>
            <div class="mobile-header hidden-lg">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <button class="menu-button " id="open-button">Open Menu</button>


                    </div>


                    {% if "admin" in session %}

                    <div class="log-in-status col-md-6 col-sm-6 col-xs-6">
                        <a href="{{url_for('logout')  }}">Log Out</a>
                    </div>

                    {% elif "mentor" in session %}

                    <div class="log-in-status col-md-6 col-sm-6 col-xs-6">
                        <a href="{{url_for('logout')  }}">Log Out</a>
                    </div>

                    {% elif "applicant" in session %}

                    <div class="log-in-status col-md-6 col-sm-6 col-xs-6">
                        <a href="{{url_for('logout')  }}">Log Out</a>
                    </div>

                    {% else %}
                    <div class="log-in-status col-md-6 col-sm-6 col-xs-6 trigger-button">
                        <div class="login-button">Log In</div>
                    </div>
                    {% endif %}


                </div>

            </div>
        </div>
    </header>

    <div class="text-color-wrapper">
        <div style="display: none;" id="login-menu">

            <form action="/login" method="post">

                <div class="log-in-wrapper container-fluid">
                    <div class="row">
                        <div class="log-in-field col-lg-5 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <label for="user-email">Email</label>
                            </div>

                            <div>
                                <input type="text" name="user-email" id="user-email">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <label for="password">Password</label>
                            </div>

                            <div>
                                <input type="password" name="password" id="password">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <div class="log-in-button">
                                <input type="submit" value="Access"></div>
                        </div>

                    </div>

                </div>


            </form>


        </div>


        <section class="container-fluid">

            <div class="front-positioner">

                {% block content %} {% endblock %}

            </div>
        </section>
    </div>
    </div>


    <footer>


        <div class="footer-wrapper navbar-fixed-bottom">

            <div class="container-fluid">
                <div class="row">
                    <div class="logo-placer col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a href="mailto:hello@codecool.com">
                            <img src="../static/img/email.svg" width="auto" height="40" alt="logo">
                        </a>
                    </div>
                    <div class="logo-placer col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a href="https://www.linkedin.com/edu/school?id=3156086">
                            <img src="../static/img/linkedin-box.svg" width="auto" height="40" alt="logo"></a>
                    </div>
                    <div class="logo-placer col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a href="https://www.facebook.com/CodecoolOfficial/">
                            <img src="../static/img/facebook.svg" width="auto" height="40" alt="logo">
                        </a>
                    </div>
                    <div class="logo-placer col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <a href="tel:+3615888588">
                            <img src="../static/img/phone.svg" width="auto" height="40" alt="logo">
                        </a>
                    </div>

                </div>

            </div>
        </div>


        <script>
            jQuery(".trigger-button").click(function() {
                jQuery("#login-menu").slideToggle("slow");
            });
        </script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/classie.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>


    </footer>


</body>