{% extends "layout.html" %} {% block title %}New Applicant Registration{% endblock %} {% block content %}

<h1>New Applicant Registration</h1>

<div class="register-wrapper">
    <form action="{{ url_for('new_applicant_registration') }}" method=post>
        <div>
            <label for="name">Name</label>
        </div>
        <div>
            <input type="text" id="name" name="name" required="required">
        </div>

            <div >
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" pattern="[^ @]*@[^ @]*" required="required">
            </div>
            <div>
                <div>
                    <label for="city">City</label>
                </div>
                <div>
                    <select id="city" name="city">
                        {% for possible_city in cities %}
                        <option value={{ possible_city.name }}>{{ possible_city.name }}</option>
                        {% endfor %}
                    </select>

                </div>

        </div>

        <div>
            <input type=submit id="Register" value=Register>
        </div>
    </form>
</div>

{% endblock %}